@import "variables.scss";
@import "mixin.scss";

* {
    box-sizing: border-box;

}

.body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.container {
    width: $large;
    margin: auto;
}

@import "Cases/cases.scss";
@import "Benefit/benefit.scss";
@import "Order/order.scss";