

$slider-hight: 660px;
$slider-image-width: 790px;
$slider-content-width: 580px;


/* brakepoints */

$large: 1370px;
$middle: 756px;
$small: 320px;

/* COLORS */
$gray: rgba(17, 38, 74, 0.5);
$gold: #C69642;
$blue--light: #173363;
$blue--dark: #11264A;