.cases {
    margin-bottom: 40px;
    overflow-x: hidden;
    
    .container {
        position: relative;
        
        &::before {
            position: absolute;
            content: 'Кейсы';
            
            bottom: 200px;
            right: -370px;
            
            font-family: 'Playfair Display', serif;
            font-weight: bold;
            font-size: 200px;
            color: white;
            transform: rotate(90deg);
            
            background: linear-gradient(0deg, $gold 33%, $gold--light 66%);
            background-clip: text;
            color: transparent;
        }
    }
}

.cases__title {
    text-align: center;
    font-size: 40px;
}

@media (max-width: $large) {
    .cases {
        .container {
            &::before {
                display: none;  
            }
        }
    }
}

@media (max-width: $middle) {
    .cases {
        .container {
            &::before {
                display: none;  
            }
        }
    }
}

@import "Slider/slider.scss";