.slider {
    position: relative;
    
    display: flex;
    flex-direction: row;
    
    height: 660px;
    margin-bottom: 15px;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(17, 38, 74, 0.2);
    overflow: hidden;
}

.slider__image {
    min-width: 790px;
    
    background-image: url(../img/slide_1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    
    z-index: 5;
}

.slider__cards {
    display: flex;
    flex-direction: row;
    
    transition: transform 1s;
}

@media (max-width: $large) {
    .slider {
        height: 500px;
    }

    .slider__image {
        min-width: 300px;
        height: 200px;
    }
}

@media (max-width: $middle) {
    .slider {
        height: 600px;
    }

    .slider__image {
        display: none;
    }
}

@import "Card/card.scss";
@import "Pagination/pagination.scss";